body {
  margin: 0;
  font-family: 'Gothic A1', sans-serif;
}

h1, h2, h3, h4, h5{
	margin: 0;
}

.gallery{
  text-align: center;
  margin-top: 2%;
}

.grid_gallery{
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);

}


.grid_gallery img:hover{
  opacity: 0.85;
  transition: .2s;
  transform: scale(1.02);
}

.grid_gallery > a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid_gallery_col-big{
  grid-column: span 2;
}

.grid_gallery_row-big{
  grid-row: span 2;
}

/*  PROJECTS  */

/* modal  */
#modalBtn{
  text-align: center;
  border: none;
  text-decoration: none;
  margin: 1% 0 1% 46%;

}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* projects */
.projects{
  text-align: center;
  margin-top: 2%;
}

.video_grid{
  --gap-2: 16px;
  --num-cols-2: 4;
  --row-height-2: 300px;

  box-sizing: border-box;
  padding: var(--gap-2);

  display: grid;
  grid-template-columns: repeat(var(--num-cols-2), 1fr);
  grid-auto-rows: var(--row-height-2);
  gap: var(--gap-2);

  justify-content: center;

}

.card{
  padding-bottom: 80px;
  margin-bottom: 80px;
  height: 50%;
  margin-left: 5%;
  border: none;
}

.card_img_top{
  float: left;
  width: 100%;
  height: 260%;
  object-fit: cover;
}



.card-title{
  position: sticky;
  margin: 2%;
  width: 100%;
  height: 20%;
}

.card-body{
  float: none;
  width: 300px;
  height:260px;

}

.card-text{
  width: 270px;
  height: 80px;
 
}

.btn {
  position: ;
}

/*image of content*/
.modalImage {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content_image {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content_image {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.closeImage {
  position: absolute;
  top: 10%;
  right: 20%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.closeImage:hover,
.closeImage:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}


/* Media */
@media screen and (max-width: 1024px){
  .grid_gallery{
    --num-cols: 2;
    --row-height: 200px;
  }
}
@media (max-width: 900px){
  .video_grid{
    --num-cols-2:1
    --row-height: 0px;
    grid-auto-rows: unset;
  } 
  .card{
    border: none;
  }
  .card-body{
    float: none;
    box-sizing: content-box;
    height: 80%;
    padding-bottom: 10px;
  }
}


